language: java
dist: trusty
jdk:
  - openjdk7
  - openjdk8
  - oraclejdk9
install: true
addons:
  srcclr: true
script:
    - "./gradlew clean"
    - "./gradlew exhaustiveTest"
    - "if [[ -n $TRAVIS_TAG ]]; then
          ./gradlew ship;
      else
          ./gradlew build;
      fi"
cache:
  gradle: true
  directories:
  - "$HOME/.gradle/caches"
  - "$HOME/.gradle/wrapper"
branches:
  only:
  - master
  - /^\d+\.\d+\.(\d|[x])+(-SNAPSHOT|-alpha|-beta)?\d*$/ # trigger builds on tags which are semantically versioned to ship the SDK.
after_success:
  - ./gradlew coveralls uploadArchives --console plain
after_failure:
  - cat /home/travis/build/optimizely/java-sdk/core-api/build/reports/findbugs/main.html

# Integration tests need to run first to reset the PR build status to pending
stages:
  - 'Integration tests'
  - 'Test'

jobs:
  include:
    - stage: 'Integration tests'
      merge_mode: replace
      env: SDK=java
      cache: false
      language: python
      before_install: skip
      install:
        - "pip install awscli"
      before_script:
        - "aws s3 cp s3://optimizely-travisci-artifacts/ci/trigger_fullstack-sdk-compat.sh ci/ && chmod u+x ci/trigger_fullstack-sdk-compat.sh"
      script:
        - "ci/trigger_fullstack-sdk-compat.sh"
      after_success: travis_terminate 0
